html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin: 0; padding: 0; }
fieldset, img { border: none; }
ul, ol, li { list-style: none; }
body { color: #333; font: 12px/20px "Microsoft Yahei","Arial Narrow",HELVETICA; }

html,body{
    width: 100%;
    height: 100%;
}
input{
    border:none;
    outline: none;
}
/*animat*/
.animated {
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.infinite {
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}
.animated.hinge {
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s
}
@keyframes zoomIn {
    0% {
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        -ms-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50% {
        opacity:1
    }
}
.zoomIn {
    -webkit-animation-name:zoomIn;
    animation-name:zoomIn
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}
.layerBox{
    border-radius: 2px;
    /*margin:auto;*/
    height: auto;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    padding-bottom: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
}
.layerHeader{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding-left: 15px;
    border-bottom: 1px solid #edeeee;
    background: #f8f8f8;
    /*cursor: move;*/
}
.layerContianer{
    height:calc(100% - 42px) ;
    position: relative;
}
.layer-size{
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    z-index:1000;
}
.layerHeader .close_btn{
    display: block;
    width: 18px;
    height: 18px;
    float: right;
    margin: 12px;
    background: url("../img/close.png") no-repeat center;
    cursor: pointer;
}
.layerhandle{
    width: 100%;
    height: 50px;
    padding: 9px 0;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
.layerhandle input{
    width: 80px;
    height: 32px;
    border-radius: 3px;
    margin: 0 10px;
    color: #666;
    cursor: pointer;
}
.layerhandle .ensure{
    color: #fff;
    background: #0066CC;
}
.layerhandle .ensure:hover{
    background: #2c80d4;
}
.layerhandle .cancle:hover{
    background: #ebe9e9;
}